# Sensitive data
data/*
!data/*.zip
**/metadata/
**/*meta*.csv
**/*meta*.tsv

# Large QIIME files
*.qza
*.qzv
*.biom

# Ignore everything in qiime directory
qiime/*

# But don't ignore these specific paths and files
!qiime/
!qiime/unweighted_unifrac_distance_matrix/
!qiime/unweighted_unifrac_distance_matrix/*.zip
!qiime/exported_rep_seqs/
!qiime/exported_rep_seqs/**

qiime/unweighted_unifrac_distance_matrix/distance-matrix.tsv

# Python
**pycache**/
*.py[cod]
*.so
.Python
env/
.env
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# R
.Rhistory
.RData
.Rproj.user/

# OS
.DS_Store
